In [81]:
import pandas as pd
import re
import numpy as np

data = pd.read_csv('Data_sets/listings_v1.csv')

In [82]:
data

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20191207212953,2019-12-08,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,t,f,strict_14_with_grace_period,f,f,1,0,1,0,2.13
1,20168,https://www.airbnb.com/rooms/20168,20191207212953,2019-12-08,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,For those who like all facets of city life. In...,17th century Dutch townhouse in the heart of t...,none,Located just in between famous central canals....,...,f,f,strict_14_with_grace_period,f,f,2,0,2,0,2.57
2,25428,https://www.airbnb.com/rooms/25428,20191207212953,2019-12-08,Lovely apt in City Centre (w.lift) near Jordaan,NaN,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,2,2,0,0,0.13
3,27886,https://www.airbnb.com/rooms/27886,20191207212953,2019-12-08,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,t,f,strict_14_with_grace_period,f,f,1,0,1,0,2.14
4,28871,https://www.airbnb.com/rooms/28871,20191207212953,2019-12-08,Comfortable double room,NaN,In a monumental house right in the center of A...,In a monumental house right in the center of A...,none,NaN,...,f,f,moderate,f,f,3,0,3,0,2.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20020,40649791,https://www.airbnb.com/rooms/40649791,20191207212953,2019-12-08,Amsterdam Deluxe Flat w/ Elevator,The Amsterdam Deluxe Flat is centrally located...,It's a light 70m2 apartment. With a king-size ...,The Amsterdam Deluxe Flat is centrally located...,none,This apartment is in the vibrant area called A...,...,f,f,moderate,f,f,1,1,0,0,NaN
20021,40649918,https://www.airbnb.com/rooms/40649918,20191207212953,2019-12-08,Nice Apartment in Amsterdam,Nice house suitable for a maximum of 4 people ...,NaN,Nice house suitable for a maximum of 4 people ...,none,NaN,...,t,f,flexible,f,f,1,1,0,0,NaN
20022,40650044,https://www.airbnb.com/rooms/40650044,20191207212953,2019-12-08,Beautiful place in the heart of Amsterdam!,NaN,NaN,NaN,none,NaN,...,t,f,flexible,f,f,2,0,2,0,NaN
20023,40653547,https://www.airbnb.com/rooms/40653547,20191207212953,2019-12-08,Family apartment for 5 people,"Large apartment, 3 bedrooms, large living with...",NaN,"Large apartment, 3 bedrooms, large living with...",none,The apartment is located at the end of hopping...,...,f,f,moderate,f,f,2,2,0,0,NaN
20024,40655209,https://www.airbnb.com/rooms/40655209,20191207212953,2019-12-08,cozy apartment,NaN,NaN,NaN,none,NaN,...,f,f,moderate,f,f,1,1,0,0,NaN

In [83]:
# checking the shape of the dataframe

data.shape

(20025, 106)

In [84]:
# printing the columns of the dataframe

print(list(data.columns))

['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'requires_license', 'license', 'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [85]:
# checking when the data was obtained

data['last_scraped'].value_counts()

2019-12-08    18137
2019-12-07     1888
Name: last_scraped, dtype: int64

In [86]:
# checking the datatypes of the columns

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20025 entries, 0 to 20024
Columns: 106 entries, id to reviews_per_month
dtypes: float64(23), int64(21), object(62)
memory usage: 16.2+ MB

In [87]:
# creating a new dataframe with the relevant columns

data2 = data[['id', 'scrape_id', 'last_scraped', 'city', 'zipcode', 'country', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'square_feet', 'price']]

In [88]:
# Data cleaning: checking missing values

null_cols = data2.isnull().sum()
null_cols[null_cols > 0]

city               5
zipcode          827
square_feet    19662
dtype: int64

In [89]:
# We are going to drop the column of the square feet because 98% of the values are missing.
# So, instead of using the price per square meter, we are going to use the price per number of accommodates

data2 = data2.drop('square_feet', axis=1)

In [90]:
# removing the $ symbol from the price column in data2

data2[['price']] = data2.price.apply(lambda x: x.replace('$',''))
data2[['price']] = data2.price.apply(lambda x: x.replace(',',''))

In [91]:
# checking the data types of each column

data2.dtypes

id                 int64
scrape_id          int64
last_scraped      object
city              object
zipcode           object
country           object
latitude         float64
longitude        float64
property_type     object
room_type         object
accommodates       int64
price             object
dtype: object

In [92]:
# convert price from object to float64

data2['price'] = data2['price'].astype('float64')

In [93]:
# checking the data types of each column

data2.dtypes

id                 int64
scrape_id          int64
last_scraped      object
city              object
zipcode           object
country           object
latitude         float64
longitude        float64
property_type     object
room_type         object
accommodates       int64
price            float64
dtype: object

In [94]:
# changing the column name of price to price_USD

data2 = data2.rename(columns = {'price': 'price_USD'})

In [95]:
# adding two new columns: price in euros and price in euros per number of accommodates

Exchange_rate_USD_Eu = 0.895667

data2['price_€'] = data2['price_USD']*Exchange_rate_USD_Eu

data2['price_€_accommodates'] = data2['price_€']/data2['accommodates']

In [96]:
# checking for low variance columns

low_variance = []

for col in data2._get_numeric_data():
    minimum = min(data2[col])
    ninety_perc = np.percentile(data2[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

['scrape_id']

In [97]:
# At least 90% of the values in scrape_id are the same so we are going to remove them from our data set

data2 = data2.drop('scrape_id', axis=1)

In [98]:
# we are counting the number of values within the column city. 
# we are going to just analyse the data from the value "Amsterdam" because it represents 98% of the values

data2['city'].value_counts()
data3 = data2.loc[data2['city'].isin(['Amsterdam'])]
data3

,id,last_scraped,city,zipcode,country,latitude,longitude,property_type,room_type,accommodates,price_USD,price_€,price_€_accommodates
0,2818,2019-12-08,Amsterdam,NaN,Netherlands,52.36575,4.94142,Apartment,Private room,2,59.0,52.844353,26.422176
1,20168,2019-12-08,Amsterdam,1017,Netherlands,52.36509,4.89354,Townhouse,Private room,2,80.0,71.653360,35.826680
2,25428,2019-12-08,Amsterdam,1016,Netherlands,52.37297,4.88339,Apartment,Entire home/apt,3,125.0,111.958375,37.319458
3,27886,2019-12-08,Amsterdam,1013,Netherlands,52.38673,4.89208,Houseboat,Private room,2,155.0,138.828385,69.414192
4,28871,2019-12-08,Amsterdam,1017,Netherlands,52.36719,4.89092,Apartment,Private room,2,75.0,67.175025,33.587513
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20020,40649791,2019-12-08,Amsterdam,1098 XB,Netherlands,52.35696,4.94521,Apartment,Entire home/apt,3,137.0,122.706379,40.902126
20021,40649918,2019-12-08,Amsterdam,1064 VZ,Netherlands,52.37556,4.81353,House,Entire home/apt,4,135.0,120.915045,30.228761
20022,40650044,2019-12-08,Amsterdam,1012 JW,Netherlands,52.37355,4.89435,Bed and breakfast,Private room,2,60.0,53.740020,26.870010
20023,40653547,2019-12-08,Amsterdam,1107 EB,Netherlands,52.29548,4.97723,Apartment,Entire home/apt,5,95.0,85.088365,17.017673
20024,40655209,2019-12-08,Amsterdam,1102 RN,Netherlands,52.31949,4.94985,House,Entire home/apt,2,110.0,98.523370,49.261685

In [99]:
stats = data3.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
id,19723.0,1.912751e+07,1.147403e+07,2818.00000,9.619963e+06,1.842334e+07,2.792721e+07,4.065521e+07,1.830725e+07
latitude,19723.0,5.236587e+01,1.553520e-02,52.28954,5.235539e+01,5.236483e+01,5.237539e+01,5.242471e+01,1.999500e-02
longitude,19723.0,4.888609e+00,3.530522e-02,4.76395,4.863225e+00,4.886580e+00,4.908400e+00,5.027690e+00,4.517500e-02
accommodates,19723.0,2.868276e+00,1.303692e+00,1.00000,2.000000e+00,2.000000e+00,4.000000e+00,1.800000e+01,2.000000e+00
price_USD,19723.0,1.637160e+02,1.988675e+02,0.00000,9.900000e+01,1.340000e+02,1.850000e+02,9.000000e+03,8.600000e+01
price_€,19723.0,1.466350e+02,1.781191e+02,0.00000,8.867103e+01,1.200194e+02,1.656984e+02,8.061003e+03,7.702736e+01
price_€_accommodates,19723.0,5.318789e+01,6.414563e+01,0.00000,3.560276e+01,4.478335e+01,6.224886e+01,4.030501e+03,2.664609e+01

In [100]:
# checking for outliers

outliers = pd.DataFrame(columns=data3.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 3
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data3[(data3[col] < lower) | 
                   (data3[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

In [101]:
list_outliers= outliers['Outlier'].tolist()
list(set(outliers))

['Outlier',
 'id',
 'latitude',
 'longitude',
 'price_USD',
 'price_€_accommodates',
 'room_type',
 'accommodates',
 'property_type',
 'last_scraped',
 'city',
 'price_€',
 'zipcode',
 'country']

In [102]:
# Finding and Removing Duplicates

before = len(data3)
data = data3.drop_duplicates()
after = len(data3)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [103]:
# checking missing values

null_cols = data3.isna().sum()
null_cols[null_cols > 0]

zipcode    818
dtype: int64

In [108]:
# dropping rows with null values on zipcode

data3 = data3.dropna()

In [110]:
data4 = data3[data3['price_USD'] != 0]
data4.reset_index()

,index,id,last_scraped,city,zipcode,country,latitude,longitude,property_type,room_type,accommodates,price_USD,price_€,price_€_accommodates
0,1,20168,2019-12-08,Amsterdam,1017,Netherlands,52.36509,4.89354,Townhouse,Private room,2,80.0,71.653360,35.826680
1,2,25428,2019-12-08,Amsterdam,1016,Netherlands,52.37297,4.88339,Apartment,Entire home/apt,3,125.0,111.958375,37.319458
2,3,27886,2019-12-08,Amsterdam,1013,Netherlands,52.38673,4.89208,Houseboat,Private room,2,155.0,138.828385,69.414192
3,4,28871,2019-12-08,Amsterdam,1017,Netherlands,52.36719,4.89092,Apartment,Private room,2,75.0,67.175025,33.587513
4,5,29051,2019-12-08,Amsterdam,1017,Netherlands,52.36773,4.89151,Apartment,Private room,1,55.0,49.261685,49.261685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18899,20020,40649791,2019-12-08,Amsterdam,1098 XB,Netherlands,52.35696,4.94521,Apartment,Entire home/apt,3,137.0,122.706379,40.902126
18900,20021,40649918,2019-12-08,Amsterdam,1064 VZ,Netherlands,52.37556,4.81353,House,Entire home/apt,4,135.0,120.915045,30.228761
18901,20022,40650044,2019-12-08,Amsterdam,1012 JW,Netherlands,52.37355,4.89435,Bed and breakfast,Private room,2,60.0,53.740020,26.870010
18902,20023,40653547,2019-12-08,Amsterdam,1107 EB,Netherlands,52.29548,4.97723,Apartment,Entire home/apt,5,95.0,85.088365,17.017673
18903,20024,40655209,2019-12-08,Amsterdam,1102 RN,Netherlands,52.31949,4.94985,House,Entire home/apt,2,110.0,98.523370,49.261685